.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: #7dc0e7;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #000000;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  .ceo-access {
  padding-bottom: 0;
}

.ceo-inner,
.access-inner {
  width: 1300px;
  margin: auto;
}

.ceo-content {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding: 50px 0;
}

.ceo-content>div {
  float: left;
  width: 50%;
}

.ceo-left {
  padding-right: 50px;
}

.ceo-left img {
  width: 30px;
  filter: invert(57%) sepia(52%) saturate(608%) hue-rotate(93deg) brightness(87%) contrast(89%);
}

.ceo-left h3 {
  font-weight: bold;
  font-size: 24px;
}

.ceo-right {
  text-align: center;
}

.ceo-right>div {
  float: left;
  padding: 20px;
}

.ceo-msg {
  width: 60%;
}

.ceo-msg h3 {
  font-size: 28px;
  color: #009b72;
}

.ceo-msg h3 big {
  display: block;
}

.ceo-photo {
  width: 40%;
}

.ceo-photo img {
  border-radius: 15px;
  width: 100%;
}

.access-content {
  padding: 50px 0;
  padding-bottom: 0;
  overflow: hidden;
}

.access-content>div {
  float: left;
  width: 50%;
}

.access-left {
  padding-right: 50px;
  padding-top: 50px;
}

.access-left h2 {
  font-size: 34px;
}

.access-right {
  text-align: center;
}

.access-right img {
  display: block;
  float: right;
}

.btn-download {
  margin-top: 30px;
}

/*CPU*/
.ceo-access {
  padding-bottom: 0;
}

.ceo-inner,
.access-inner {
  width: 1300px;
  margin: auto;
}

.ceo-content {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding: 50px 0;
}

.ceo-content>div {
  float: left;
  width: 50%;
}

.ceo-left {
  padding-right: 50px;
}

.ceo-left img {
  width: 30px;
  filter: invert(57%) sepia(52%) saturate(608%) hue-rotate(93deg) brightness(87%) contrast(89%);
}

.ceo-left h3 {
  font-weight: bold;
  font-size: 24px;
}

.ceo-right {
  text-align: center;
}

.ceo-right>div {
  float: left;
  padding: 20px;
}

.ceo-msg {
  width: 60%;
}

.ceo-msg h3 {
  font-size: 28px;
  color: #009b72;
}

.ceo-msg h3 big {
  display: block;
}

.ceo-photo {
  width: 40%;
}

.ceo-photo img {
  border-radius: 15px;
  width: 100%;
}

.access-content {
  padding: 50px 0;
  padding-bottom: 0;
  overflow: hidden;
}

.access-content>div {
  float: left;
  width: 50%;
}

.access-left {
  padding-right: 50px;
  padding-top: 50px;
}

.access-left h2 {
  font-size: 34px;
}

.access-right {
  text-align: center;
}

.access-right img {
  display: block;
  float: right;
}

.btn-download {
  margin-top: 30px;
}

